body {
  color: #000;
  text-align: center;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background: rgb(179,0,0);
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {color: #146077}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#bg {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1 !important;
}
#main #logo {
  margin: 30px 0 10px 0;
}

#main {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  z-index: 100 !important;
}

#main h3 {
  margin: 15px 0 0 0;
}

#main #content h4 {
  margin-top: 5px;
}

#main #content {
  background-color: rgba(205, 205, 205, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 6px;
  width: 310px;
  margin: 0 auto;
  padding: 5px;
}
  
#header {
  width: 100%;
  background: rgb(179,0,0);
  background: -moz-linear-gradient(top,  rgb(179,0,0) 0%, rgb(150,0,0) 53%, rgb(170,2,34) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(179,0,0)), color-stop(53%,rgb(150,0,0)), color-stop(100%,rgb(170,2,34)));
  background: -webkit-linear-gradient(top,  rgb(179,0,0) 0%,rgb(150,0,0) 53%,rgb(170,2,34) 100%);
  background: -o-linear-gradient(top,  rgb(179,0,0) 0%,rgb(150,0,0) 53%,rgb(170,2,34) 100%);
  background: -ms-linear-gradient(top,  rgb(179,0,0) 0%,rgb(150,0,0) 53%,rgb(170,2,34) 100%);
  background: linear-gradient(to bottom,  rgb(179,0,0) 0%,rgb(150,0,0) 53%,rgb(170,2,34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30000', endColorstr='#aa0222',GradientType=0 );
  text-shadow: -1px -1px #62171C;
  margin: 0px;
}

#header h1 {
  color: white;
  padding: 5px 0;
  margin: 0;
}

#media img {
  width: 15px;
  margin-bottom: -2px;
  margin-right: 2px;
}

#media {
  width: 300px;
  border-top: 1px solid grey;
  margin: 0 auto;
  font-size: 90%;
  padding-top: 5px;
}

#media li {
  text-align: left;
}