body {
  color: #444;
  text-align: center;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {color: #146077}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main #logo {
  margin-top: 100px;
  width: 300px;
}

#main {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

#main h3 {
  margin: 15px 0 0 0;
  text-decoration: underline;
}
  
#header {
  width: 100%;
  height: 6px;
  background-color: #DC2B33;
}

#media img {
  width: 20px;
  margin-bottom: -4px;
}

#media li {
  display: inline;
  
}